FIELDSET#payment-type {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
FIELDSET#payment-type:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
FIELDSET#payment-type INPUT {
	FLOAT: left; MARGIN: 0px; WIDTH: auto
}
FIELDSET#payment-type LABEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 1px 0px 0px; WIDTH: 37px; TEXT-INDENT: -12345px; PADDING-TOP: 0px; HEIGHT: 23px
}
FIELDSET#payment-type SELECT {
	MARGIN-LEFT: -1px! important
}

@media Unknown    
{
FIELDSET#payment-type {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET#payment-type INPUT {
	MARGIN-RIGHT: 2px
}
FIELDSET.payment-type LABEL {
	MARGIN-RIGHT: 6px
}
    }
FIELDSET#payment-type LABEL#pm-visa {
	BACKGROUND: url(/MERCHANTPAYMENTWEB-610-20100225-1/en_US/i/logo/logo_ccVisa.gif) no-repeat 0px 50%; MARGIN-RIGHT: 0.4em
}
FIELDSET#payment-type LABEL#pm-amex {
	BACKGROUND: url(/MERCHANTPAYMENTWEB-610-20100225-1/en_US/i/logo/logo_ccAmex.gif) no-repeat 0px 50%; MARGIN-RIGHT: 0.4em
}
FIELDSET#payment-type LABEL#pm-mastercard {
	BACKGROUND: url(/MERCHANTPAYMENTWEB-610-20100225-1/en_US/i/logo/logo_ccMC.gif) no-repeat 0px 50%; MARGIN-RIGHT: 0.4em
}
FIELDSET#payment-type LABEL#pm-jcb {
	BACKGROUND: url(/MERCHANTPAYMENTWEB-610-20100225-1/en_US/JP/i/icon/logo_cc_jcb.gif) no-repeat 0px 50%; MARGIN-RIGHT: 0.4em
}
FIELDSET#payment-type LABEL#pm-discover {
	BACKGROUND: url(/MERCHANTPAYMENTWEB-610-20100225-1/en_US/i/logo/logo_ccDiscover.gif) no-repeat 0px 50%; WIDTH: 37px; MARGIN-RIGHT: 0.4em
}
FIELDSET#payment-type LABEL#pm-postepay {
	BACKGROUND: url(/MERCHANTPAYMENTWEB-610-20100225-1/en_US/i/logo/logo_ccPostepay.gif) no-repeat 0px 50%; MARGIN-RIGHT: 0.4em
}
FIELDSET#payment-type LABEL#pm-electron {
	BACKGROUND: url(/MERCHANTPAYMENTWEB-610-20100225-1/en_US/i/logo/logo_ccElectron.gif) no-repeat 0px 50%; MARGIN-RIGHT: 0.4em
}
FIELDSET#cardIssueInformation {
	CLEAR: both; FLOAT: none; WIDTH: 100%! important
}
DIV.exp-date {
	CLEAR: both; FLOAT: left
}
DIV.exp-date INPUT#expdate_month {
	WIDTH: 3em; COLOR: #cccccc; MARGIN-RIGHT: 5px; TEXT-ALIGN: center
}
DIV.exp-date INPUT#expdate_year {
	WIDTH: 3em; COLOR: #cccccc; MARGIN-RIGHT: 5px; TEXT-ALIGN: center
}
DIV.exp-date INPUT#start-month {
	WIDTH: 3em; COLOR: #cccccc; MARGIN-RIGHT: 5px; TEXT-ALIGN: center
}
DIV.exp-date INPUT#start-year {
	WIDTH: 3em; COLOR: #cccccc; MARGIN-RIGHT: 5px; TEXT-ALIGN: center
}
DIV.dob INPUT#dob_date {
	WIDTH: 3em; COLOR: #cccccc; MARGIN-RIGHT: 5px; TEXT-ALIGN: center
}
DIV.dob INPUT#dob_month {
	WIDTH: 3em; COLOR: #cccccc; MARGIN-RIGHT: 5px; TEXT-ALIGN: center
}
DIV.dob INPUT#dob_year {
	WIDTH: 3em; COLOR: #cccccc; MARGIN-RIGHT: 5px; TEXT-ALIGN: center
}
DIV.exp-date INPUT#expdate_year {
	MARGIN-LEFT: 5px
}
DIV.exp-date INPUT#start-year {
	MARGIN-LEFT: 5px
}
DIV.exp-date SELECT {
	WIDTH: auto! important; MARGIN-RIGHT: 2px
}
FIELDSET.payment-type INPUT.hidden {
	DISPLAY: none
}
DIV.issue-number {
	FLOAT: left; WIDTH: 11.1em! important; TEXT-ALIGN: right
}
DIV.issue-number LABEL {
	MARGIN: 0px; WIDTH: 7.5em! important
}
DIV.issue-number INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; FLOAT: right; PADDING-BOTTOM: 1px; MARGIN: 0px; WIDTH: 2em! important; PADDING-TOP: 1px
}
DIV.csc {
	FLOAT: left; WIDTH: 11.2em! important; MARGIN-RIGHT: 0px; TEXT-ALIGN: right
}
DIV.csc-newline {
	CLEAR: left; FLOAT: none; MARGIN: 2px 0px; WIDTH: auto! important; TEXT-ALIGN: left
}
DIV.csc LABEL {
	MARGIN: 0px; WIDTH: 2.7em! important; PADDING-TOP: 5px
}
DIV.csc-newline LABEL {
	WIDTH: 14.2em! important
}
DIV.csc-newline #cvv2_number {
	FLOAT: none; MARGIN-LEFT: 5px! important
}
DIV.csc INPUT {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 0px 2px 0px 0px; WIDTH: 2em! important; PADDING-TOP: 1px
}
DIV.csc A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.75em; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: 2.5%; PADDING-TOP: 0px
}
DIV.bankonlineaccess {
	CLEAR: both
}
DIV.bankonlineaccess DIV {
	PADDING-LEFT: 15em; WIDTH: 18em
}
DIV.bankonlineaccess INPUT {
	WIDTH: 2em
}
.dottedline {
	COLOR: #0033cc; BORDER-BOTTOM: #0033cc 1px dashed
}
DIV.tooltip {
	BORDER-TOP: #000 1px solid; BACKGROUND: url(/MERCHANTPAYMENTWEB-610-20100225-1/en_US/i/scr/scr_tooltip_bottom_left.gif) no-repeat left bottom; FONT: 11px Arial, Helvetica, sans-serif; WIDTH: 250px
}
DIV.tooltip-onlycard {
	BORDER-TOP: #000 1px solid; BACKGROUND: url(/MERCHANTPAYMENTWEB-610-20100225-1/en_US/i/scr/scr_tooltip_bottom_left.gif) no-repeat left bottom; FONT: 11px Arial, Helvetica, sans-serif; WIDTH: 250px
}
DIV.tooltipCCHover {
	BORDER-TOP: #000 1px solid; BACKGROUND: url(/MERCHANTPAYMENTWEB-610-20100225-1/en_US/i/scr/scr_tooltip_bottom_left.gif) no-repeat left bottom; FONT: 11px Arial, Helvetica, sans-serif; WIDTH: 250px; BOTTOM: -25px; POSITION: relative
}
DIV.cc2 {
	BOTTOM: 5px
}
DIV.cc3 {
	BOTTOM: 50px
}
DIV.tooltip DIV.content {
	PADDING-RIGHT: 20px; PADDING-LEFT: 5px; RIGHT: -5px; BACKGROUND: url(/MERCHANTPAYMENTWEB-610-20100225-1/en_US/i/scr/scr_tooltip_right_6x500.gif) no-repeat 100% 100%; PADDING-BOTTOM: 15px; PADDING-TOP: 5px; POSITION: relative; TEXT-ALIGN: left
}
DIV.tooltipCCHover DIV.content {
	PADDING-RIGHT: 20px; PADDING-LEFT: 5px; RIGHT: -5px; BACKGROUND: url(/MERCHANTPAYMENTWEB-610-20100225-1/en_US/i/scr/scr_tooltip_right_6x500.gif) no-repeat 100% 100%; PADDING-BOTTOM: 15px; PADDING-TOP: 5px; POSITION: relative; TEXT-ALIGN: left
}
DIV.tooltip-onlycard DIV.content {
	PADDING-RIGHT: 20px; PADDING-LEFT: 5px; RIGHT: -5px; BACKGROUND: url(/MERCHANTPAYMENTWEB-610-20100225-1/en_US/i/scr/scr_tooltip_right_6x500.gif) no-repeat 100% 100%; PADDING-BOTTOM: 15px; PADDING-TOP: 5px; POSITION: relative; TEXT-ALIGN: left
}
DIV.tooltip DIV.content P {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px 0px 5px; FONT: 11px Arial, sans-serif; PADDING-TOP: 0px! important
}
DIV.tooltip DIV.content LI {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px 0px 5px; FONT: 11px Arial, sans-serif; PADDING-TOP: 0px! important
}
DIV.tooltipCCHover DIV.content P {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px 0px 5px; FONT: 11px Arial, sans-serif; PADDING-TOP: 0px! important
}
DIV.tooltipCCHover DIV.content LI {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px 0px 5px; FONT: 11px Arial, sans-serif; PADDING-TOP: 0px! important
}
DIV.tooltip-onlycard DIV.content P {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px 0px -2px; FONT: 11px Arial, sans-serif; PADDING-TOP: 0px! important
}
DIV.tooltip-onlycard DIV.content LI {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px 0px -2px; FONT: 11px Arial, sans-serif; PADDING-TOP: 0px! important
}
DL.quick-faq {
	DISPLAY: inline; Z-INDEX: 100; POSITION: relative
}
DL.quick-faq-hover {
	DISPLAY: inline; Z-INDEX: 100; POSITION: relative
}
DL.ccOnFileNoHover {
	DISPLAY: inline; CURSOR: default; POSITION: relative
}
DL.ccOnFileHover {
	DISPLAY: inline; CURSOR: default; POSITION: relative
}
DL.prePaidCardNoHover {
	DISPLAY: inline; CURSOR: default; POSITION: relative
}
DL.prePaidCardHover {
	DISPLAY: inline; CURSOR: default; POSITION: relative
}
DL.quick-faq {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.quick-faq DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.quick-faq DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.quick-faq-hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.quick-faq-hover DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.quick-faq-hover DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.ccOnFileNoHover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.ccOnFileNoHover DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.ccOnFileNoHover DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.ccOnFileHover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.ccOnFileHover DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.ccOnFileHover DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.prePaidCardNoHover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.prePaidCardNoHover DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.prePaidCardNoHover DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.prePaidCardHover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.prePaidCardHover DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.prePaidCardHover DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.quick-faq:hover DD {
	DISPLAY: block
}
DL.hover DD {
	DISPLAY: block
}
DL.quick-faq-hover:hover DD {
	DISPLAY: block
}
DL.hover DD {
	DISPLAY: block
}
DL.ccOnFileNoHover:hover DD {
	DISPLAY: block
}
DL.hover DD {
	DISPLAY: block
}
DL.ccOnFileHover:hover DD {
	DISPLAY: block
}
DL.hover DD {
	DISPLAY: block
}
DL.prePaidCardNoHover:hover DD {
	DISPLAY: block
}
DL.hover DD {
	DISPLAY: block
}
DL.prePaidCardHover:hover DD {
	DISPLAY: block
}
DL.hover DD {
	DISPLAY: block
}
DL.quick-faq DT {
	DISPLAY: inline
}
DL.quick-faq-hover DT {
	DISPLAY: inline
}
DL.ccOnFileNoHover DT {
	DISPLAY: inline
}
DL.ccOnFileHover DT {
	DISPLAY: inline
}
DL.prePaidCardNoHover DT {
	DISPLAY: inline
}
DL.prePaidCardHover DT {
	DISPLAY: inline
}
DL.quick-faq DD {
	DISPLAY: none; LEFT: 10%; WIDTH: 100%; BOTTOM: 1em; POSITION: absolute; TOP: -9em
}
DL.ccOnFileNoHover DD {
	DISPLAY: none; LEFT: 10%; WIDTH: 100%; BOTTOM: 1em; POSITION: absolute; TOP: -9em
}
DL.prePaidCardNoHover DD {
	DISPLAY: none; LEFT: 10%; WIDTH: 100%; BOTTOM: 1em; POSITION: absolute; TOP: -9em
}
DL.quick-faq-hover DD {
	DISPLAY: block; LEFT: 5%; WIDTH: 100%; BOTTOM: 1em; POSITION: absolute; TOP: -9em
}
DL.ccOnFileHover DD {
	DISPLAY: block; LEFT: 5%; WIDTH: 100%; BOTTOM: 1em; POSITION: absolute; TOP: -9em
}
DL.prePaidCardHover DD {
	DISPLAY: block; LEFT: 5%; WIDTH: 100%; BOTTOM: 1em; POSITION: absolute; TOP: -9em
}
FIELDSET.disabled {
	DISPLAY: none
}
SPAN.disabled {
	DISPLAY: none
}
INPUT.disabled#cc_number {
	DISPLAY: none
}
LABEL.disabled#pm-M {
	DISPLAY: none
}
DIV#fieldrowCCNumber P {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 14.8em; PADDING-TOP: 0.4em
}
.noteDotted {
	FONT-SIZE: 1em; MARGIN: 0px; CURSOR: hand; BORDER-TOP-STYLE: none; BORDER-BOTTOM: #30c 1px dashed; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
DIV.prePaidCard {
	DISPLAY: inline; PADDING-LEFT: 180px; POSITION: relative
}
DIV#addCardSection P {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 178px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
P.addCardLink {
	CLEAR: both; DISPLAY: none; FONT-SIZE: 12px; MARGIN: 0px
}
DIV.dob SPAN.mmhelp {
	FLOAT: left; MARGIN-LEFT: 112px
}
DIV.dob SPAN.ddhelp {
	FLOAT: left; MARGIN-LEFT: 30px
}
DIV.dob SPAN.yyhelp {
	FLOAT: left; MARGIN-LEFT: 28px
}
DIV.dob {
	CLEAR: both
}
#cowp-wrapper #pageHeader SPAN#CCTitle {
	DISPLAY: block; WIDTH: 540px
}
